.banner-search-bg{
    background-image: url(../images/paris-france.jpg);
}
.navbar-bg{
    background-color: #9f1c2c;
}

.has-search{
    width: 50%;
    margin:0 auto;
    position: relative;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0;
}
.nav-tabs .nav-item{
    margin-right: 5px;
}
.nav-tabs .nav-item a{
    color: #000;
    background-color: #fff;
    border: 0;
}
.nav-tabs .nav-item a.active{
    color: #000;
    background-color: #f7d708;
    border: 0;
}



@media (max-width: 767px) {
	.nav-tabs>li {
		width: 100%;
	}
}